@use "src/sass/abstract/colors" as c;
@use "src/sass/abstract/mixins" as m;

.add-file {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 16px;
    margin: auto;
    margin-top: 16px;
    width: fit-content;
    width: 90%;

    &__col {
        width: min(400px, 100%);

        &:empty {
            display: none;
        }
    }

    &__file {
        width: 100%;
        margin-bottom: 10px;
        background-color: c.$dark-grey;

        &__top {
            display: flex;
            align-items: center;
            width: 100%;
            height: 70px;
        }

        &__icon {
            width: 70px;
            height: 70px;
            padding: 15px;
        }

        &__name {
            font-size: 1.3rem;
            flex: 1 1 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__remove {
            width: 50px;
            height: 70px;
            cursor: pointer;

            svg {
                fill: white;
                vertical-align: middle;
            }
        }

        &__preview {
            display: block;
            max-width: 100%;
            margin: auto;
            padding: 8px;
        }
    }

    &__choose-file {
        width: 100%;
        aspect-ratio: 3/2;
        background-color: c.$dark-grey;
        outline: 3px solid transparent;
        cursor: pointer;

        &:focus {
            outline-color: c.$main;
        }

        &.err {
            outline-color: c.$error-red;
        }

        .file-drop {
            width: 100%;
            height: 100%;
        }

        .file-drop-target {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            height: 100%;
        }

        &__plus {
            @include m.plus(80px, 20px, c.$light-grey);
        }

        &__text {
            color: gray;
            font-size: 1.4rem;
        }
    }

    &__upload {
        width: 100%;
    }

    &__input-validation {
        color: c.$error-red;
        margin-top: 4px;
        margin-bottom: 10px;
    }
}
