@use "sass:math" as math;
@use "src/sass/abstract/colors" as c;

$quick-actions-gap: 8px;
$icon-size: 48px;

.quick-actions {
    gap: $quick-actions-gap;

    &__drop-area {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;

        &.active {
            display: block;
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            background-color: #{c.$bg}ee;

            .material-symbols-rounded {
                color: white;
                font-size: $icon-size;
            }
        }
    }

    &__action-row {
        display: flex;
        width: calc(100%);
        height: calc(50% - ($quick-actions-gap / 2));
        margin-bottom: $quick-actions-gap;
        transition: all 100ms ease-in;

        &.hidden {
            height: 0;
            border-width: 0;
            margin-bottom: 0;
        }
    }

    &__action {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        width: calc(100%);
        height: calc(50% - ($quick-actions-gap / 2));
        margin-bottom: $quick-actions-gap;

        border: dashed c.$grey;
        border-width: 6px;
        cursor: pointer;
        transition: all 100ms ease-in;

        .material-symbols-rounded {
            color: c.$grey;
            font-size: $icon-size;
            transform: scale(1.3);
        }

        input {
            padding: 8px;
            padding-bottom: 0;
            font-size: 1.3rem;
        }

        &__textarea-wrapper {
            display: none;
            flex-direction: column;
            position: absolute;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        textarea {
            flex-grow: 1;
            padding: 8px;

            resize: none;
            background-color: c.$bg;
            border: none;
            outline: none;
            white-space: pre;
            font-size: 1.1rem;
        }

        $action-btn-margin: 4px;

        .action-btn {
            display: inline-block;
            width: calc(50% - ($action-btn-margin + math.div($action-btn-margin, 2)));
            margin: $action-btn-margin;

            &:first-child {
                --color: #b03a3a;
                margin-right: math.div($action-btn-margin, 2);
            }

            &:last-child {
                --color: #59b03a;
                margin-left: math.div($action-btn-margin, 2);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .hidden & {
            height: 0;
            border-width: 0;
            margin-bottom: 0;
        }

        &.active {
            height: 100%;
        }

        &.active &__textarea-wrapper {
            display: flex;
        }
    }

    &__action-row &__action {
        width: calc(50% - ($quick-actions-gap / 2));
        height: calc(100%);
        margin-right: $quick-actions-gap;

        &:last-child {
            margin-right: 0;
        }
    }
}
