@use "sass:math" as math;
@use "../abstract/colors" as c;

.add-image {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: auto;
    margin-top: 16px;
    width: fit-content;
    max-width: 90%;

    &__choose-file {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 400px;
        height: 400px;
        background-color: #1c1c1c;
        outline: 3px solid transparent;
        cursor: pointer;

        &:focus {
            outline-color: c.$main;
        }

        &.err {
            outline-color: red;
        }

        &__plus {
            $size: 80px;
            $thickness: 20px;

            position: relative;
            width: $size;
            height: $size;

            $translate-value: math.div($size, 2) - math.div($thickness, 2);

            &::before,
            &::after {
                content: "";
                top: 0;
                left: 0;
                position: absolute;
                width: $size;
                height: $thickness;
                background-color: grey;
                transform: translateY($translate-value) rotate(var(--rotate, 0));
            }

            &::after {
                --rotate: 90deg;
            }
        }

        &__text {
            color: gray;
            font-size: 1.4rem;
        }

        &__preview {
            position: absolute;
            width: 96%;
            height: 96%;
            margin: 2%;
            background: var(--src) #1c1c1c;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__col:nth-child(2)>* {
        display: block;
    }

    input[type="text"] {
        padding: 0 6px 4px 2px;
        font-size: 1.3rem;
        border-bottom: 2px solid;
        border-bottom-color: grey;
        transition: border-bottom-color 100ms;

        &:focus {
            border-bottom-color: c.$main;
        }

        &.err {
            border-bottom-color: red;
        }
    }

    &__input-validation {
        color: red;
        margin-top: 4px;
        margin-bottom: 10px;
    }
}
