@use "../abstract/colors" as c;
@use "../abstract/mixins" as m;

.add-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: auto;
    margin-top: 16px;
    width: fit-content;
    width: 90%;

    &__col:nth-child(1) {
        width: min(400px, 100%);
    }

    &__choose-file {
        width: 100%;
        aspect-ratio: 1;
        background-color: c.$dark-grey;
        outline: 3px solid transparent;
        cursor: pointer;

        &:focus {
            outline-color: c.$main;
        }

        &.err {
            outline-color: c.$error-red;
        }

        .file-drop {
            width: 100%;
            height: 100%;
        }

        .file-drop-target {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            height: 100%;
        }

        &__plus {
            @include m.plus(80px, 20px, c.$light-grey);
        }

        &__text {
            color: gray;
            font-size: 1.4rem;
        }

        &__preview {
            position: absolute;
            width: 96%;
            height: 96%;
            margin: 2%;
            background: var(--src) c.$dark-grey;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__col:nth-child(2)>* {
        display: block;
    }

    input[type="text"] {
        padding: 0 6px 4px 2px;
        font-size: 1.3rem;
        border-bottom: 2px solid;
        border-bottom-color: c.$light-grey;
        transition: border-bottom-color 100ms;

        &:focus {
            border-bottom-color: c.$main;
        }

        &.err {
            border-bottom-color: c.$error-red;
        }
    }

    &__input-validation {
        color: c.$error-red;
        margin-top: 4px;
        margin-bottom: 10px;
    }
}
