@use "../abstract/colors" as c;

.file-details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__col {
        width: 50%;
        padding: 8px;

        @media (max-width: 800px) {
            width: 100%;
        }
    }

    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2%;
        aspect-ratio: 1;
        background-color: c.$dark-grey;
    }

    &__img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;

        &.file-details__img--icon {
            padding: 25%;
        }
    }

    &__title {
        margin-top: 16px;
        font-size: 1.4rem;
    }

    &__user {
        font-size: 1.1rem;
        color: c.$light-grey;
    }

    &__btns {
        display: flex;
        gap: 8px;
        margin-top: 8px;
    }

    &__btn {
        &--download {
            --color: #{c.$download-blue};
        }

        &--delete {
            --color: #{c.$red};
        }
    }
}
