@use "../abstract/colors" as c;
@use "../abstract/mixins" as m;

$gap: 6px;

.files {
    --items-in-row: 4;

    @media (max-width: 1250px) {
        --items-in-row: 3;
    }

    @media (max-width: 850px) {
        --items-in-row: 2;
    }

    @media (max-width: 630px) {
        --items-in-row: 1;
    }

    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    width: 100%;
    margin-top: 8px;

    --size-of-item: calc((100% / var(--items-in-row)) - (#{$gap} * (var(--items-in-row) - 1) / var(--items-in-row)));

    @keyframes dummy-animation {
        from {
            background-color: c.$grey;
        }

        to {
            background-color: #2a2a2a;
        }
    }

    &__dummy {
        width: var(--size-of-item);
        aspect-ratio: 1;
        background-color: c.$grey;
        animation: dummy-animation .8s infinite alternate linear;
    }

    &__file {
        width: var(--size-of-item);
        aspect-ratio: 1;
        background: var(--src) c.$grey;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--with-icon {
            background-size: 40%;
        }
    }

    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--size-of-item);
        aspect-ratio: 1;
        border: dashed c.$grey 6px;
        cursor: pointer;

        &__plus {
            @include m.plus(60px, 12px, c.$grey);
        }
    }

    $options-size: 50px;
    $options-gap: 5px;

    &__options {
        display: none;
        gap: $options-gap;
        width: 100%;
        height: $options-size + $options-gap;
        padding: $options-gap;
        padding-bottom: 0;

        &>* {
            height: $options-size;
            background-color: #212121dd;
            border-radius: 100vh;
        }
    }

    &__file:hover &__options {
        display: flex;
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        padding: 3px 20px;
        overflow: hidden;
        height: $options-size;
        white-space: nowrap;
    }

    &__title {
        line-height: 110%;
    }

    &__user {
        font-size: .8rem;
        line-height: 110%;
        color: #909090;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: $options-size;
        height: $options-size;

        &:hover svg {
            transform: scale(1.1);
        }

        svg {
            vertical-align: middle;
        }

        &--download svg {
            fill: c.$download-blue;
        }

        &--delete svg {
            fill: c.$red;
        }
    }
}
