@use "sass:math" as math;

$gap: 6px;

.images {
    --items-in-row: 4;

    @media (max-width: 1250px) {
        --items-in-row: 3;
    }

    @media (max-width: 850px) {
        --items-in-row: 2;
    }

    @media (max-width: 630px) {
        --items-in-row: 1;
    }

    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    width: 100%;
    margin-top: 8px;

    --size-of-item: calc((100% / var(--items-in-row)) - (#{$gap} * (var(--items-in-row) - 1) / var(--items-in-row)));

    @keyframes dummy-animation {
        from {
            background-color: #343434;
        }

        to {
            background-color: #2a2a2a;
        }
    }

    &__dummy {
        width: var(--size-of-item);
        aspect-ratio: 1;
        background-color: #343434;
        animation: dummy-animation .8s infinite alternate linear;
    }

    &__image {
        width: var(--size-of-item);
        aspect-ratio: 1;
        background: var(--src) #343434;
        background-size: cover;
        background-position: center;
    }

    $options-size: 50px;
    $options-gap: 5px;

    &__options {
        display: none;
        gap: $options-gap;
        width: 100%;
        height: $options-size + $options-gap;
        padding: $options-gap;
        padding-bottom: 0;

        &>* {
            height: $options-size;
            background-color: #212121dd;
            border-radius: 100vh;
        }
    }

    &__image:hover &__options {
        display: flex;
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        padding: 3px 20px;
        overflow: hidden;
        height: $options-size;
        white-space: nowrap;
    }

    &__title {
        line-height: 110%;
    }

    &__user {
        font-size: .8rem;
        line-height: 110%;
        color: #909090;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: $options-size;
        height: $options-size;

        &:hover svg {
            transform: scale(1.1);
        }

        svg {
            vertical-align: middle;
        }

        &--download svg {
            fill: #2281bc;
        }

        &--delete svg {
            fill: #bc2222;
        }
    }
}
