@use "sass:math" as math;
@use "../abstract/colors" as c;

$gap: 6px;

.items {
    --items-in-row: 4;

    @media (max-width: 1400px) {
        --items-in-row: 3;
    }

    @media (max-width: 1000px) {
        --items-in-row: 2;
    }

    @media (max-width: 580px) {
        --items-in-row: 1;
    }

    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    width: 100%;
    margin-top: 8px;

    --size-of-item: calc((100% / var(--items-in-row)) - (#{$gap} * (var(--items-in-row) - 1) / var(--items-in-row)));

    @keyframes dummy-animation {
        from {
            background-color: c.$grey;
        }

        to {
            background-color: #2a2a2a;
        }
    }

    &__dummy {
        width: var(--size-of-item);
        aspect-ratio: 1;
        background-color: c.$grey;
        animation: dummy-animation .8s infinite alternate linear;
    }

    &__file {
        width: var(--size-of-item);
        aspect-ratio: 1;
        background: var(--src) c.$grey;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--with-icon {
            background-size: 40%;
        }
    }

    $options-size: 50px;
    $options-gap: 5px;

    &__options {
        display: none;
        gap: $options-gap;
        width: 100%;
        height: $options-size + $options-gap;
        padding: $options-gap;
        padding-bottom: 0;

        &>* {
            height: $options-size;
            background-color: #212121dd;
            border-radius: 100vh;
        }
    }

    &__file:hover &__options {
        display: flex;
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - (2 * $options-size) - (2 * $options-gap));
        padding: 3px 20px;
        height: $options-size;
        white-space: nowrap;
    }

    &__title {
        line-height: 110%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__user {
        font-size: .8rem;
        line-height: 110%;
        color: #909090;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: $options-size;
        height: $options-size;

        &:hover svg {
            transform: scale(1.1);
        }

        svg {
            vertical-align: middle;
        }

        &--download svg {
            fill: c.$download-blue;
        }

        &--delete svg {
            fill: c.$red;
        }
    }

    $quick-actions-gap: 8px;

    &__quick-actions {
        gap: $quick-actions-gap;
        width: var(--size-of-item);
        aspect-ratio: 1;
    }

    &__quick-action {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        width: calc(100%);
        height: calc(50% - ($quick-actions-gap / 2));
        margin-bottom: $quick-actions-gap;

        border: dashed c.$grey;
        border-width: 6px;
        cursor: pointer;
        transition: all 100ms ease-in;

        svg {
            fill: c.$grey;
            transform: scale(1.3);
        }

        &__textarea-wrapper {
            display: none;
            flex-direction: column;
            position: absolute;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        textarea {
            flex-grow: 1;
            padding: 8px;

            resize: none;
            background-color: c.$bg;
            border: none;
            outline: none;
            font-size: 1.1rem;
        }

        $action-btn-margin: 4px;

        .action-btn {
            display: inline-block;
            width: calc(50% - ($action-btn-margin + math.div($action-btn-margin, 2)));
            margin: $action-btn-margin;

            &:first-child {
                --color: #b03a3a;
                margin-right: math.div($action-btn-margin, 2);
            }

            &:last-child {
                --color: #59b03a;
                margin-left: math.div($action-btn-margin, 2);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.hidden {
            height: 0;
            border-width: 0;
            margin-bottom: 0;
        }

        &.active {
            height: 100%;
        }

        &.active &__textarea-wrapper {
            display: flex;
        }
    }
}
