@use "../abstract/colors" as c;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin: auto;
    margin-top: 30px;
    border: var(--loader-width, 10px) solid var(--loader-color, c.$main);
    border-top: var(--loader-width, 10px) solid var(--loader-bg-color, c.$dark-grey);
    border-radius: 50%;
    width: var(--loader-size, 60px);
    height: var(--loader-size, 60px);
    animation: spin 2s linear infinite;
}
