@use "./abstract/colors" as c;

@forward "./components/action-btn";

@forward "./base/reset";
@forward "./layout/header";
@forward "./layout/images";
@forward "./layout/add-image";
@forward "./layout/image-details";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Nunito";
}

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: c.$bg;
}

.app {
    width: 65vw;
    margin: auto;

    @media (max-width: 800px) {
        width: 90vw;
    }
}
