@use "./abstract/colors" as c;

@forward "./base/reset";
@forward "./components/loader";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Nunito";
}

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: c.$bg;
}

.app {
    --app-width: 65vw;

    width: var(--app-width);
    margin: auto;

    @media (max-width: 800px) {
        --app-width: 90vw;
    }
}

span.material-symbols-rounded {
    font-size: 24px;
    color: #e7e7e7;
    vertical-align: middle;
    line-height: 1;
}
