@use "src/sass/abstract/colors" as c;

.item-slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #{c.$bg}ee;
  z-index: 1;
  overflow: hidden;
}

.sitem {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 12px;
    font-size: 1.2rem;
    width: 100%;

    & > *:last-child {
      margin-right: 16px;
    }

    .material-symbols-rounded {
      font-size: 28px;
    }

    .pinned {
      color: c.$main;
    }

    &__close {
      margin-right: 12px;
    }

    button {
      cursor: pointer;
    }

    &__file-icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
      color: c.$main !important;
    }

    &__title {
      margin-right: auto;
    }
  }

  &__arrow {
    $size: 40px;
    $space: 12px;

    position: absolute;
    top: 50%;
    height: $size;
    width: $size;
    background-color: #000000aa;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    // some previews have z-indexes
    z-index: 10;

    .material-symbols-rounded {
      font-size: 20px;
      color: #f0f0f0;
    }

    &.left {
      left: $space;
      transform: rotate(180deg);
    }

    &.right {
      right: $space;
    }
  }

  &__preview {
    flex-grow: 1;
  }
}
