@use "src/sass/abstract/colors" as c;

.folder-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: c.$grey 2px solid;
  cursor: pointer;
  color: white;
  text-decoration: none;

  &--selected {
    $outline-width: 4px;
    outline: $outline-width c.$download-blue solid;
    outline-offset: -$outline-width;
  }

  & > .material-symbols-rounded {
    font-size: calc(var(--size-of-item) / 2);
    color: c.$main;
  }

  &__actions {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    gap: 6px;

    button {
      cursor: pointer;

      .material-symbols-rounded {
        color: #c1c1c1;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    & &__actions {
      display: none;
    }

    &:hover &__actions {
      display: flex;
    }
  }
}
