@use "src/sass/abstract/colors" as c;

.header {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    border-bottom: 1px c.$light-grey solid;
    background-color: #{c.$bg}ee;
    z-index: 1;

    @media (max-width: 580px) {
        flex-wrap: wrap;
    }

    @media (max-width: 800px) {
        padding: 20px 10px;
    }

    &__logo {
        font-size: 2rem;
        color: c.$main;
        text-decoration: none;
        margin-right: 16px;
    }

    &__search {
        display: flex;
        background-color: c.$grey;
        margin: 0 auto;
        padding: 6px;
        gap: 6px;
        border-radius: 4px;

        @media (max-width: 580px) {
            order: 1;
            width: 100%;
            margin-top: 10px;
        }

        svg {
            fill: c.$light-grey;
            vertical-align: middle;
        }

        input {
            width: 18vw;
            font-size: 1rem;

            &::placeholder {
                color: c.$light-grey;
            }
        }
    }

    --fab-size: min(15vw, 15vh);

    &__fab {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 22px;
        right: 22px;
        width: var(--fab-size);
        height: var(--fab-size);
        border-radius: 50%;
        background-color: c.$main;
        color: white;
        text-decoration: none;
        font-size: calc(var(--fab-size) / 2);
    }

    &__secondary {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        font-weight: bold;
        color: c.$light-grey;
        text-decoration: none;
        margin: 0 16px;

        svg {
            fill: currentColor;
        }
    }

    @media (max-width: 580px) {
        .action-btn {
            display: none;
        }

        &__fab {
            display: flex;
        }

        &__secondary {
            margin-right: 0;
            margin-left: auto;
        }
    }

    @media (max-width: 900px) {
        &__secondary span {
            display: none;
        }
    }
}
