@use "src/sass/abstract/colors" as c;

.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    border-bottom: 1px c.$light-grey solid;
    background-color: #{c.$bg}ee;
    z-index: 1;

    @media (max-width: 800px) {
        padding: 20px 10px;
    }

    &__logo {
        font-size: 2rem;
        color: c.$main;
        text-decoration: none;
    }

    --fab-size: min(15vw, 15vh);

    &__fab {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 22px;
        right: 22px;
        width: var(--fab-size);
        height: var(--fab-size);
        border-radius: 50%;
        background-color: c.$main;
        color: white;
        text-decoration: none;
        font-size: calc(var(--fab-size) / 2);
    }

    @media (max-width: 580px) {
        .action-btn {
            display: none;
        }

        &__fab {
            display: flex;
        }
    }
}
