@use "src/sass/abstract/colors" as c;

.file-item {
    position: relative;
    width: var(--size-of-item);
    height: var(--size-of-item);
    background-color: c.$grey;
    overflow: hidden;

    &__inner {
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--with-icon &__icon {
        padding: 25%;
    }

    &--selected {
        $outline-width: 4px;
        outline: $outline-width c.$download-blue solid;
        outline-offset: -$outline-width;
    }

    $options-size: 50px;
    $options-gap: 5px;

    &__options {
        position: absolute;
        display: none;
        gap: $options-gap;
        top: 0;
        left: 0;
        width: 100%;
        height: $options-size + $options-gap;
        padding: $options-gap;
        padding-bottom: 0;

        & > * {
            height: $options-size;
            background-color: #212121dd;
            border-radius: 100vh;
        }
    }

    &:hover &__options {
        display: flex;
    }

    @media (hover: none) {
        &__options {
            display: flex;
        }
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - (2 * $options-size) - (2 * $options-gap));
        padding: 3px 20px;
        height: $options-size;
        white-space: nowrap;
        flex-grow: 1;
    }

    &__title {
        line-height: 110%;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__user {
        font-size: 0.8rem;
        line-height: 110%;
        color: #909090;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: $options-size;
        height: $options-size;

        &:hover svg {
            transform: scale(1.1);
        }

        &--download .material-symbols-rounded {
            color: c.$download-blue;
        }

        &--delete .material-symbols-rounded {
            color: c.$red;
        }
    }

    &__more {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #{c.$bg}ee;
        transition: opacity 100ms;

        &.active {
            opacity: 1;
            pointer-events: all;
        }

        &__close {
            position: absolute;
            top: 4px;
            right: 4px;
            padding: 2px;
            cursor: pointer;
        }

        &__wrapper {
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background-color: #525252;
            border-radius: 12px 12px 0 0;
            transition: bottom 200ms;

            .active & {
                bottom: 0;
            }

            button,
            a {
                display: block;
                width: 100%;
                text-align: start;
                padding: 6px 12px;
                font-size: 1.075rem;
                border-radius: 12px;
                color: white;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    background-color: c.$light-grey;
                }

                &.danger {
                    color: c.$error-red;
                }
            }
        }
    }

    &__pinned {
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 50%;
        background-color: #212121dd;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        .material-symbols-rounded {
            color: c.$main;
        }

        .file-item:hover & {
            display: none;
        }
    }
}
