@use "src/sass/abstract/colors" as c;

.text-item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: c.$grey 2px solid;
    overflow: hidden;

    &--selected {
        $outline-width: 4px;
        outline: $outline-width c.$download-blue solid;
        outline-offset: -$outline-width;
    }

    &__options {
        display: flex;
        align-items: center;
        padding: 6px 0;

        .material-symbols-rounded {
            color: currentColor;
        }

        button {
            margin-left: 7px;
            cursor: pointer;

            @keyframes success {
                from {
                    color: #36df41;
                }

                to {
                    color: currentColor;
                }
            }

            .material-symbols-rounded.selected {
                color: c.$download-blue;
            }

            & .material-symbols-rounded:nth-child(2) {
                display: none;
            }

            &.success .material-symbols-rounded:nth-child(1) {
                display: none;
            }

            &.success .material-symbols-rounded:nth-child(2) {
                display: block;
            }

            &.success .material-symbols-rounded {
                animation: success 3s ease-in;
            }

            &:hover .material-symbols-rounded {
                filter: brightness(0.8);
            }
        }
    }

    &__metadata {
        flex-grow: 1;
    }

    &__title {
        display: flex;
        gap: 0.3ch;

        .material-symbols-rounded {
            color: c.$main;
            font-size: 16px;
        }

        input {
            display: block;
            overflow: hidden;
            width: 100%;
            line-height: 110%;
            font-size: 1rem;
            text-overflow: ellipsis;

            ::spelling-error {
                text-decoration: none;
            }
        }
    }

    &__user {
        font-size: 0.8rem;
        line-height: 110%;
        color: #909090;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text {
        flex: 1 1 0;
        min-height: 0;

        pre,
        textarea {
            overflow: auto;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            padding-right: 4px;
            background-color: c.$bg;
            white-space: pre;
            font-size: 1rem;
        }

        textarea {
            border: none;
            outline: none;
            resize: none;
        }
    }

    &__more {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #{c.$bg}ee;
        transition: opacity 100ms;

        &.active {
            opacity: 1;
            pointer-events: all;
        }

        &__close {
            position: absolute;
            top: 4px;
            right: 4px;
            padding: 2px;
            cursor: pointer;
        }

        &__wrapper {
            position: absolute;
            bottom: -100%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            background-color: #525252;
            border-radius: 12px 12px 0 0;
            transition: bottom 200ms;

            .active & {
                bottom: 0;
            }

            button {
                width: 100%;
                text-align: start;
                padding: 6px 12px;
                font-size: 1.075rem;
                border-radius: 12px;
                cursor: pointer;

                &:hover {
                    background-color: c.$light-grey;
                }

                &.danger {
                    color: c.$error-red;
                }
            }
        }
    }
}
