@use "src/sass/abstract/colors" as c;

.text-item {
    display: flex;
    flex-direction: column;
    width: var(--size-of-item);
    aspect-ratio: 1;
    padding: 8px;
    border: c.$grey 2px solid;

    &__options {
        display: flex;
        align-items: center;
        padding: 6px 0;

        svg {
            fill: currentColor;
            vertical-align: middle;
        }

        button {
            margin-left: 7px;
            cursor: pointer;

            @keyframes success {
                from {
                    fill: #36df41;
                }

                to {
                    fill: currentColor;
                }
            }

            & svg:nth-child(2) {
                display: none;
            }

            &.success svg:nth-child(1) {
                display: none;
            }

            &.success svg:nth-child(2) {
                display: block;
            }

            &.success svg {
                animation: success 3s ease-in;
            }

            &:hover svg {
                filter: brightness(.8);
            }
        }
    }

    &__metadata {
        flex-grow: 1;
    }

    &__title {
        line-height: 110%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__user {
        font-size: .8rem;
        line-height: 110%;
        color: #909090;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text {
        flex: 1 1 0;
        padding-right: 4px;
        overflow-y: auto;
        word-wrap: break-word;

        pre {
            margin: 0;
        }
    }
}
